<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>Admin Dashboard</h2>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Issue</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for c in complaints %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.issue_type }}</td>
            <td>{{ c.description }}</td>
            <td>{{ c.status }}</td>
            <td>
                {% if c.status == "Pending" %}
                    <a href="/update_status/{{ c.id }}">Resolve</a>
                {% endif %}
                |
                <a href="/delete_complaint/{{ c.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/logout">Logout</a>
</body>
</html>
